.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillRow {
  display: flex;
  justify-content: center;
}

.skillRow a:hover {
  cursor: pointer;
}

.skillContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
